div.row-fluid
	div.span8
		div.blog
			div.blog_sidebar.span2
				div.blog_date
					ul
						li.blog_day 7
						li.blog_mon Jun
						li.blog_yr 2012
			div.blog_content.span10
				h1 #{post.title}	
				div.author
					h5 Author:  
					h5 #{post.author}
				div.clear
				a(href="https://twitter.com/share", class="twitter-share-button", data-text="Check out this article!", data-via="cdemonstr") Tweet
				p
					|!{post.post}
		div#disqus_thread.span12
			script(src='/js/disqus.js')
				a.dsq-brlink(href="http://disqus.com")
					comments powered by 
					span.logo-disqus
						Disqus
	include ../sidebar/index