div.row-fluid
	div#main_hdr.span10.offset1
		div#logo_hdr.span3
			img(src="/images/logo_hdr.png", alt="")
		ul#menu.span6
			li#blog_hdr.cm_menu.active
				a(href="/")
					img(src="/images/blog.png", alt="blog")
					h1 Blog
					h2 articles & archives
			li#community_hdr.cm_menu
				a(href="/community")
					img(src="/images/community.png", alt="community")
					h1 Community
					h2 
						discuss : learn : share
			li#contact_hdr.cm_menu
				a(href="contact")
					img(src="/images/contact.png", alt="contact")
					h1 Contact
					h2 reach out to us!
		div#search_hdr.span3
			form
				div.input-append
					input.span8#search_field(size="16", type="text", placeholder="search")
					button.btn(type="button") Go!