head
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	title code monster
	meta(name="author", content="Keith Elliott")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	link(href="/bootstrap/docs/assets/css/bootstrap.css", rel="stylesheet")
	link(href="/bootstrap/docs/assets/css/bootstrap-responsive.css", rel="stylesheet")
	link(href="/bootstrap/docs/assets/css/docs.css", rel="stylesheet")
	link(href="/bootstrap/docs/assets/js/google-code-prettify/prettify.css", rel="stylesheet")
	link(href='http://fonts.googleapis.com/css?family=Graduate', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Port+Lligat+Sans', rel='stylesheet', type='text/css')
	link(href="/css/main.css", rel="stylesheet", type='text/css')
	//if lt IE 9
		script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")			
	link(rel="shortcut icon", href="/bootstrap/docs/assets/ico/favicon.ico")
	link(rel="apple-touch-icon-precomposed", sizes="144x144", href="/bootstrap/docs/assets/ico/apple-touch-icon-144-precomposed.png")
	link(rel="apple-touch-icon-precomposed", sizes="114x114", href="/bootstrap/docs/assets/ico/apple-touch-icon-114-precomposed.png")
	link(rel="apple-touch-icon-precomposed", sizes="72x72", href="/bootstrap/docs/assets/ico/apple-touch-icon-72-precomposed.png")
	link(rel="apple-touch-icon-precomposed", href="/bootstrap/docs/assets/ico/apple-touch-icon-57-precomposed.png")
