script( type="text/javascript", src="http://platform.twitter.com/widgets.js")
script( src="/bootstrap/docs/assets/js/jquery.js")
script( src="/bootstrap/docs/assets/js/google-code-prettify/prettify.js")
script( src="/bootstrap/docs/assets/js/bootstrap-transition.js")
script( src="/bootstrap/docs/assets/js/bootstrap-alert.js")
script( src="/bootstrap/docs/assets/js/bootstrap-modal.js")
script( src="/bootstrap/docs/assets/js/bootstrap-dropdown.js")
script( src="/bootstrap/docs/assets/js/bootstrap-scrollspy.js")
script( src="/bootstrap/docs/assets/js/bootstrap-tab.js")
script( src="/bootstrap/docs/assets/js/bootstrap-tooltip.js")
script( src="/bootstrap/docs/assets/js/bootstrap-popover.js")
script( src="/bootstrap/docs/assets/js/bootstrap-button.js")
script( src="/bootstrap/docs/assets/js/bootstrap-collapse.js")
script( src="/bootstrap/docs/assets/js/bootstrap-carousel.js")
script( src="/bootstrap/docs/assets/js/bootstrap-typeahead.js")
script( src="/bootstrap/docs/assets/js/application.js")
script( src="http://twitter.com/javascripts/blogger.js")
script( src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
script( src="/js/knockout-2.1.0.js")
script( src="/js/Markdown.Converter.js")
script( src="/js/main.js")
-if(typeof(view) != 'undefined' && view == 'blog')
	script( src="/js/blog.js")