.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

body {
	padding-top: 25px;
}

#outer_background {
	width: 100%;
	height: 100%;
	/* background-color: #220101; */
}

#main_hdr {
	background-color: #111;
  width: 100%;
	height: 8em;
	background: url('/images/black-tile.gif');
	background-repeat: repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
}

#logo_hdr {
	padding-top: 30px;
	padding-left: 55px;
}

#menu{
	height: 100%;
}

#menu li{
	list-style-type:none;
}

.cm_menu a {
		text-decoration:none;
}

.cm_menu h1 {
	font-family: 'Graduate', cursive;
	color: #fff;
	text-align: center;
	font-size:140%;
	line-height:150%;
}
.cm_menu h2 {
	font-family: 'Port Lligat Sans', sans-serif;
	color: #fff;
	width:11em;
	line-height:130%;
	text-align: center;
	font-size: 100%;
}

.cm_menu img {
	margin-top: 10%;
	margin-left: 35%;
}

#blog_hdr {
	height: 100%;
	width:25%;
	float: left;
}

#blog_hdr:hover, #blog_hdr.active {
	background-color:#EF1414;
}

#community_hdr {
	height: 100%;
	width:25%;
	float: left;
}

#community_hdr:hover, #community_hdr.active {
	background-color:#FF7214;
}

#contact_hdr {
	height: 100%;
	width:25%;
	float: left;
}

#contact_hdr:hover, #contact_hdr.active{
	background-color:#14D014;
}

#search_hdr .input-append{
	margin-top:60px;
}

#search_hdr .input-append .btn{
	background:#0a0;
	color:#fff;
}

.blog_date {
	margin-top:10%;
	width: 7.5em;
	height: 4.25em;
	background-color:#E45B20;
	border-color:#fff;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.blog_date ul{
		margin-left:5px;
}
.blog_date li {
	list-style-type:none;
	float: left;
}

.blog_day{
	margin-top:20%;
	padding-right:8px;
	font-family: 'Port Lligat Sans', sans-serif;
	color: #fff;
	font-size:350%;
}

.blog_mon{
	font-family: 'Port Lligat Sans', sans-serif;
	color: #fff;
	margin-top:10%;
	font-size:160%;
	line-height:110%;
	padding-right: 15px;
}

.blog_yr {
	font-size:120%;
	font-family: 'Port Lligat Sans', sans-serif;
	color: #00f;
}

.author img, .author h5{
	float: left;
}

.author h5{
	margin-top:3px;
	margin-left: 2px;
	color: #707070;
}

.clear {
	clear: both;
}

.blog_content h1 {
	color: #0066FF;
}

.blog_content p {
	margin-top: 5px;
}

.blog {
	padding-top: 20px;
}

#subscribeSection {
	margin-top: 20px;
	padding-left: 2em;
	padding-right: 2em;
	padding-top:1em;
	line-height:120%;
	height: 8em;
}

#contributors{
	padding-left: 2em;
	padding-right: 2em;
	padding-top:1em;
	line-height:120%;
	height: 5em;
}

#twitter_feed{
	padding-left: 5em;
	padding-right: 2em;
	padding-top:1em;
	margin-bottom: 3em;
	line-height:120%;
}

.content_sidebar_box {
	margin-top: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-radius-topright: 10px;
	-webkit-border-radius-topleft: 10px;
	background-color:#D0D0D0;
}


.commenter_img img{
	margin-left:35px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#D0D0D0;
}

.comment_author{
	padding-top: 5px;
	padding-left: 5px;
	width: 100%;
	font-family: 'Graduate', cursive;
	color: #fff;
	text-align: left;
	font-size:120%;
	line-height:120%;
	height: 25px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#666;
}

.comments{
	float: left;
	height 100px;
}

.comment_text pre{
	margin-top: 12px;
}

.comment_date{
	float: left;
}

.comment_like{
	float: right;
	margin-left: 10px;
}

.comment_reply{
	float: right;
	margin-left: 10px;
}

form{
	margin-bottom: 0 !important;
}