div.span4.content_sidebar_box
	div#subscribeSection
		h2 Subscribe And Follow
		p 
			a.twitter-follow-button(href="https://twitter.com/cdemonstr", data-show-count="false", data-size="large")
				Follow @cdemonstr
				script(src="/js/twitterbtn.js")
	div#contributors
		h2 Contributors
		div.author
			img(src="/images/keith.png", alt="")
			h5 Keith Elliott
		div.clear
	div#twitter_feed
		script(src="http://widgets.twimg.com/j/2/widget.js")
		script(src="/js/twitter_widget.js")