div.row-fluid
	div.span8(data-bind="foreach: articles")
		div.blog
			div.blog_sidebar.span2
				div.blog_date
					ul
						li.blog_day(data-bind="text: day")
						li.blog_mon(data-bind="text: month")
						li.blog_yr(data-bind="text: year")
			div.blog_content.span10
				h1(data-bind="text: title")		
				div.author
					img(data-bind="attr: { src: profile_img }")
					h5 Author:  
					h5(data-bind="text: author")
				div.clear
				p(data-bind="html: post")
				a(data-bind="attr: { href: link }") Read more &gt&gt
	include ../sidebar/index